<!DOCTYPE html>
<html>
  <head>
    <title>Gen Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/1d37766e6e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>

    <div class="header">
      <h1>Generation Connection</h1>     
      <h3>Lola's Profile Page</h3>
    </div>
    <div class="row">
      <div class="leftcolumn">
        <!-- <div class="card">          
         <h2>My Posts</h2>
          <h5>Title description</h5>
          <div class="fakeimg" style="height:100px;">Image</div>
          
          <p>Some text..</p>
          <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur 
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>  -->
        
        <div class="card">
          <h2>My Posts</h2>
          <a
          ><img width="169" src="http://3.bp.blogspot.com/-ur97IUbnTUM/UA2VF21oBvI/AAAAAAAABqE/1gdiq_d1y7Y/s1600/old+keys+close.jpg" alt="Gen Connection"
        /></a>
          <!-- <h5>Title description</h5> -->
          <!-- <div class="fakeimg" style="height:100px;">Image</div> -->
          <!-- <p>Some text..</p>
          <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco.</p>    -->
            <div *ngFor = "let post of listofPosts">
              
              <p>{{ post.id }}                
                {{post.title}} <br> {{post.body}}</p> 

            </div>         
        </div>

       
        <div class="card">
          <h2>My thoughts for this month</h2>
          <h5>January 2021</h5>
          <a
          ><img width="169" src="https://images.unsplash.com/photo-1593884165215-43fdc8b9ad47?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="Gen Connection"
        /></a>
          <!-- <div class="fakeimg" style="height:100px;">Image</div> -->
          <p>It's January 2021 and a brand new year!  Looking forward to seeing whats in store for the rest of the month!</p>
         
        </div>
      </div>
      <div class="rightcolumn text-center">
        <div class="card">
          <h2>About Me</h2>
          <a
          ><img width="169" src="https://ca.slack-edge.com/T9P33872P-U012X8RPFTM-6a08e059e603-512" alt="Gen Connection"
        /></a>
          <!-- <div class="fakeimg" style="height:220px;">Image</div> -->
          <p>My name is Lola and I live in California.  I aspire to be the best version of myself and I'm inspired by
            the stories of everyday people doing life. 
          </p>
        </div>
        <div class="card text-center">
          <h3>Generation Links</h3>
          <br>

          <ul class="nav nav-pills flex-column text-center">
            <li class="nav-item">
              <button type="button" class="btn btn-default btn-lg" (click)="btnClickBoom();">Baby Boomers</button>
                  <a routerLink="/gen-boom"></a>
                
            </li>
            <br>
            <li class="nav-item">
              <button type="button" class="btn btn-default btn-lg" (click)="btnClickX();">Generation X</button>
              <a routerLink="/gen-xer"></a>
            </li>
            <br>
            
            <li class="nav-item">
              <button type="button" class="btn btn-default btn-lg" (click)="btnClickMill();">Millennials</button>
              <a routerLink="/gen-mill"></a>
            </li>
          </ul>
          
        </div>
        <div class="card">
        <form (ngSubmit)='createPost()'>        
          <div class="form-group">
              <label for="blogTitle">Blog Title</label>
              <input name="title" type="text" [(ngModel)]="post.title" class="form-control" id="blogTitle" aria-describedby="titleHelp" placeholder="Enter title">
          </div>
          <div class="form-group">
              <label for="blogContent">Content</label>
              <textarea name="description" [(ngModel)]="post.body" class="form-control" id="blogContent" placeholder="Enter content">
              </textarea>
          </div>
          <button type="submit" class="btn btn-default">Click here to add a post</button>    
        </form>
        <br>
     
    </div>
        
      </div>
    </div>
    
    
    <div class="footer">
      <h2>Brought to you by Team Jedi Tech Masters...we are!</h2>
    </div>