<!DOCTYPE html>
    <html>
    <head>
        <title>Generation X</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
                 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
                 crossorigin="anonymous">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
                 integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
                 crossorigin="anonymous"></script> 
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
                crossorigin="anonymous"></script>

        </head>
        <body>
          <div class="container-fluid text-center">    
            <div class="row content">
              <div class="col-sm-2 sidenav">
               
                 <p><a href="https://www.vanityfair.com/style/2017/08/why-generation-x-might-be-our-last-best-hope">Link 1</a></p>  
                 <p><a href="https://www.app.com/story/entertainment/2020/08/13/generation-x-50-kings-culture-innovation/5577219002/">Link 2</a></p> 
                 <p><a href="https://genhq.com/faq-info-about-generations/">Link 3</a></p> 
                 <p><a href="https://www.lifecourse.com/about/method/insight-overview.html">Link 4</a></p> 
                 <p><a href="https://en.wikipedia.org/wiki/Generation_X">Link 5</a></p> 
                 <p class="round"></p>                    
                
              </div>

              <div class="col-sm-8 text-align-center">                
                <h1>Welcome to Generation X</h1>
                <br>
                <br>
                <p>Generation X is the cohort between the Baby Boomer Generation and the Millennials Generation.  We were born 
                  between 1965 and 1980, although some say it could be as early as 1960 and as late as 1985.  However we will 
                  use the estimation of 1965 to 1980 for this illustration. Why are we called the X generation?  The term was 
                  first used in an article (see link 5 for details in wiki-genx). Who are we and what does the X mean?  </p>                             
              </div>

              <div class="col-sm-2 sidenav">
                <div class="gen">
                  <!--<ul class="genpages">
                    <li>
                      <a routerLink="/genboom"></a>
                    </li>
                    <li>
                      <a routerLink="/genmill"></a>
                    </li>
                  </ul>-->
                  <button type="button" class="btn btn-default btn-lg">Baby Boomers</button>
                  <a routerLink="/genboom">blah a</a>
                  <br>
                  <br>
                  <button type="button" class="btn btn-default btn-lg">Millennials</button>
                  <a routerLink="/genmill">blah b</a>
                </div>

              </div>
            </div>
          </div>
          
          <footer class="container-fluid text-center">
            <p>Footer Text</p>
          </footer>
          
          </body>
          </html>
           
           
           