<!DOCTYPE html>
<html>

<head>
  <title>Generation Millennials</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

</head>

<body>
  <div class="container-fluid text-center">
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <br>
        <h2>Resources</h2>
        <br>

        <p><a
            href="https://www.pewresearch.org/fact-tank/2020/04/28/millennials-overtake-baby-boomers-as-americas-largest-generation/">Link
            1</a></p>
        <br>
        <p><a href="https://danschawbel.com/blog/74-of-the-most-interesting-facts-about-the-millennial-generation/">Link
            2</a></p>
        <br>
        <p><a href="https://en.wikipedia.org/wiki/Millennials">Link 3</a></p>
        <br>
        <p><a href="https://www.lifecourse.com/about/method/insight-overview.html">Link 4</a></p>
        <br>
        <p><a href="https://whatis.techtarget.com/definition/millennials-millennial-generation">Link 5</a></p>
        <p class="round"></p>

      </div>

      <div class="col-sm-8 text-align-center">
        <h1>Welcome to Generation Millennials</h1>
        <br>
        <p>Generation Millennials (or generation Y as they follow gen X) is the cohort after the Generation X born
          between 1981-2000.
          Nurtured and pampered by parents who didn't want to make the mistakes of the previous generation, millennials
          are confident,
          ambitious and achievement oriented. They also have high expectations of their employers, tend to seek new
          challenges at work
          and aren't afraid to question authority. Millennials are generally curious but have a sense of their own
          individuality while
          being very collaborative as a group. They grew up during the technology boom and are technically savvy. They
          want to be part
          of something larger than themselves and are actively engaged. One of the downfalls of this generation is that
          they have
          short attention spans and therby don't tend to stick it out long enough when the going gets tough. They as a
          group like their
          grandparents (Baby Boomers) will have long lasting influence on the culture due to their sheer size.
          <!--They tend to stay single longer and delay marriage and are slow at forming their own households. -->
        </p>
      </div>

      <div class="col-sm-2 sidenav">
        <div class="gen">
          <!--<ul class="genpages">
                    <li>
                      <a routerLink="/genboom"></a>
                    </li>
                    <li>
                      <a routerLink="/genmill"></a>
                    </li>
                  </ul>-->
          <br>
          <br>
          <br>
          <br>
          <button type="button" class="btn btn-default btn-lg" (click)="btnClickBoom();">Baby Boomers</button>
          <a routerLink="/gen-boom"></a>
          <br>
          <br>
          <br>
          <button type="button" class="btn btn-default btn-lg" (click)="btnClickX();">Generation X</button>
          <a routerLink="/gen-xer"></a>
          <br>
          <br>
          <br>
          <button type="button" class="btn btn-default btn-lg" (click)="btnClickMill();">Millennials</button>
          <a routerLink="/gen-mill"></a>
        </div>

      </div>
    </div>
  </div>

  <footer class="container-fluid text-center">
    <p>Brought to you by Team Jedi Tech Masters...we are!</p>
  </footer>

</body>

</html>