<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" #closeBtn class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
    <form>
          <div class="form-group">
              <label for="blogTitle">Blog Title</label>
              <input name="title" type="text" [(ngModel)]="post.title" class="form-control" id="blogTitle" aria-describedby="titleHelp" placeholder="Enter title">
          </div>
          <div class="form-group">
              <label for="blogContent">Content</label>
              <textarea name="description" [(ngModel)]="post.body" class="form-control" id="blogContent" placeholder="Enter content">
              </textarea>
          </div>  

        </form>
      <button (click)="addPost()" type="button" class="btn btn-primary">Add</button>
                
 
 
            </div>
        </div>
    </div>
</div> -->