<nav>
  <a
    ><img width="169" src="../../src/app/assets/images/GenCon.jpg" alt="Gen Connection"
  /></a>
    
  <a class="btn" routerLink="home" routerLinkActive="active">Home</a>
  <a class="btn" routerLink="about" routerLinkActive="active">About </a>
  <a class="btn" routerLink="login" routerLinkActive="active">Login</a>
  <a class="btn" routerLink="signup" routerLinkActive="active">Signup</a>
  <a class="btn" routerLink="user" routerLinkActive="active">Profile</a>
  <a class="btn" routerLink="listallusers" routerLinkActive="active">Users</a>

</nav>

<router-outlet></router-outlet>
