<!DOCTYPE html>
<html>

<head>
  <title>Generation Baby Boomers</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

</head>

<body>
  <div class="container-fluid text-center">
    <div class="row content">
      <div class="col-sm-2 sidenav">

        <br>
        <h2>Resources</h2>
        <br>
        <p><a href="https://www.familysearch.org/blog/en/baby-boomer-generation-characteristics/">Link 1</a></p>
        <br>
        <p><a
            href="https://en.wikipedia.org/wiki/Baby_boomers#:~:text=Baby%20boomers%20are%20the%20demographic,World%20War%20II%20baby%20boom">Link
            2</a></p>
        <br>
        <p><a
            href="https://www.census.gov/library/stories/2019/12/by-2030-all-baby-boomers-will-be-age-65-or-older.html">Link
            3</a></p>
        <br>
        <p><a href="https://www.lifecourse.com/about/method/insight-overview.html">Link 4</a></p>
        <br>
        <p><a href="https://www.history.com/topics/world-war-ii/baby-boomers-video">Link 5</a></p>
        <br>
        <p class="round"></p>

      </div>

      <div class="col-sm-8 text-align-center">
        <h1>Welcome to Generation Baby Boomers</h1>
        <br>
        <br>
        <p>Generation Baby Boomers is a term used to describe those born between 1946 and 1664. This group represents
          almost 20% of the
          American public. As the largest generational group in U.S. history (until the Millennials showed up), baby
          boomers have had and
          continue to have a significant impact on the culture. Baby boomers emerged after the end of World War II, when
          birth rates across
          the world spiked. The explosion of new infants became known as the baby boom. During this 18 year span,
          approximately 77 million
          babies were born in the U.S. alone, comprising nearly 40% of the American Population. The sheer size of this
          generation magnified
          its impact on society. As the boomers reached young adulthood in the 1960's and 70's, their tastes in music
          and their hair and dress
          styles strongly influenced the national culture, and the political activism of some contributed to the
          unpopularity of the Vietnam War.
          <!-- As they aged and prospered in the 1980's and 90's, their buying habits determined the course of many consumer indutries, including 
                  automobiles. The needs of the baby boomers during their retirement years are expected to strain the public resources. -->
        </p>
      </div>

      <div class="col-sm-2 sidenav">
        <div class="gen">
          <!--<ul class="genpages">
                    <li>
                      <a routerLink="/genboom"></a>
                    </li>
                    <li>
                      <a routerLink="/genmill"></a>
                    </li>
                  </ul>-->

          <br>
          <br>
          <br>
          <br>
          <button type="button" class="btn btn-default btn-lg" (click)="btnClickBoom();">Baby Boomers</button>
          <a routerLink="/gen-boom"></a>
          <br>
          <br>
          <br>
          <button type="button" class="btn btn-default btn-lg" (click)="btnClickX();">Generation X</button>
          <a routerLink="/gen-xer"></a>
          <br>
          <br>
          <br>
          <button type="button" class="btn btn-default btn-lg" (click)="btnClickMill();">Millennials</button>
          <a routerLink="/gen-mill"></a>
        </div>

      </div>
    </div>
  </div>

  <footer class="container-fluid text-center">
    <p>Brought to you by Team Jedi Tech Masters...we are!</p>
  </footer>

</body>

</html>